

main
{
    display: grid;
    grid-template-columns: 350px auto; /* takes up remaining space */
    margin-top: 90px;
    height: 87vh;
    
}
main > .content
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 88vh;
    overflow: scroll;
}

main > .content-form
{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

#leftColumn{
    background-color: rgba(70, 130, 180, 0.3);
    border: 1px solid;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.3);
}
.filter-box > h3{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: italic;
}
.form-select{
width: 275px;

}

.park{
    background-color: wheat;
}