
#navbar {
    transition: top 0.5s ease-in-out;
    top: 0;
    z-index: 1000;
    max-height: 77px;
    border-bottom: 2px solid;
    box-shadow: 0 2px 10px rgba(4, 4, 4, 0.866);
    background: rgb(36,32,103);
background: radial-gradient(circle, rgb(167, 167, 174) 0%, rgb(67, 176, 200) 18%, rgba(24, 168, 196, 0.993) 100%);
}
#navbar.hidden {
    top: -75px;

}

#navItem{
    margin-right: 85px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    font-style: italic;
}
#navItem :hover{
    border-bottom: 2px solid white;
    transition: border-color 0.3s ease;
}

#navItem > a {
    color: black
}
#textCol{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    color: white;
    text-shadow: 150px 2px 5px #000;
    
}

#descriptionParagraphs{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: 400;
    
}
#buttonHeadings{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}

#parkBackground{
    background-image: url("/selfImages/4k-nature-moraine-lake-r66plwqa8m3z5reg.jpg"); 
    background-position: center; background-size: cover; 
    min-height: 750px; 
    
}
#parkBackgroundContent{
    padding-top: 300px;
    color: white;
}
#roundedCarousel{
    border: 2px solid;
              z-index: 1;
              border-radius: 50%;
              height: 350px;
              overflow: hidden;
              padding: 0 !important; 
              box-shadow: 0 0 15px 20px rgba(0, 0, 0, 0.3);
}


#carouselItemsRound{
    height: 350px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%; 
}


#mountainBackground{
    background-image: url("/selfImages/photo-1519681393784-d120267933ba.avif");
    background-position: center; background-size: cover; 
    min-height: 550px; 
}


.park{
    border: 1px solid;
    margin: 10px ;
}

#locationInformation{
    border-top: 1px solid;
}

#imageStyling{
    border-top: 1px solid;
    padding: 25px 0px;
}

#cardImg{
    height: 150px;
    width: 150px;
}

